    {% include 'nav.html' %}
    <title>{{ project.title }}</title>
        <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        #header{
            text-align: center;
            border-bottom: 3px solid #667eea;
            margin-bottom: 5px;
        }
        section{
            margin: 10px 25px;
        }
    </style>
</head>
<body>
    <section >
        <h1 style="text-align: center; padding-bottom: 20px;">{{ project.title }}</h1>
        <p>{{ project.description }}</p>
        <p><strong>Technology Used:</strong> {{ project.technology }}</p>
        <p>
            <strong>GitHub:</strong> 
            <a href="{{ project.github_link }}" target="_blank">{{ project.github_link }}</a>
        </p>
        <br>
    </section>
</body>
</html>   