{% extends 'base.html' %}



{% block content %}  
    <div class="" style="text-align:center; font-size: 150%; font-weight: bold; margin: 0 20px;">
                Welcome back {{user}}
    </div>
        <br>

    <h2>List Of All The blogs</h2>  
    <div class="searchbar">
        <form method="get">
            <input type="text" name="q" placeholder="Search.." value="{{ request.GET.q }}">
            <button type="submit">Search</button>
        </form>
    </div> 
    <section id="section-blog">
        {% if blogs %}
            {% for blog in blogs %}
                <div>
                <h2>{{blog.title}}</h2>
                    <br\>
                    <p>Blog ID: {{blog.id}}</p>
                    <p>Title: {{blog.name}}</p>
                    <p>Description:{{blog.content}}</p>
                    <br\>
                    <p>Author: {{blog.auther}}</p>
                    <a class="btn" href="{% url 'report_detail' blog.id %}">see in details</a>
                </div>
        {% endfor %}
        {% endif %}

    </section>


{% endblock content %}   