*
{
    margin: 0%;
    padding: 0%;
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#e6e6e6;
}
h2{
    font-size: 150%;
    text-align: center;
    color:#29400E;
}
b{

    color:#29400E;
}
section{

    border-bottom: 3px solid #fff;
}
#header{
    text-align: center;
    height: 120px;
    border-bottom: 3px solid #29400E;
    margin-bottom: 5px;
}
.logo{
    font-weight: 800;
    font-size: 150%;
    color:#29400E;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navigation{
    display: flex;
    justify-content:space-evenly;
    background-color:#29400E;
}

.nav{
    height: 50px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    color: #fff;
    background-color:#29400E;
}
.btn{
  cursor: pointer;
}

#section-hero{
  min-height: 100vh;
  width: 100%;
  display: flex;
}
img{
    min-height: 80%;
    width: auto;
    margin: 5% 2%;
}
#section-hero div{
    display: flex;
    flex-direction: column;
    margin: 5% 2%;
}

#section-hero h2,#section-hero p,#section-hero button{
    padding-top:40px;
}

#section-hero button{
    background-color: #29400E;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
}
#section-about, #section-contact{
    min-height: 100vh;
}
#section-about h2, #section-feature h2, #section-contact h2{
    margin: 2% 20% 6% 20%;
    padding-bottom: 1%;
    border-bottom: 3px solid #29400E;

}
#section-about div{
    padding: 1% 5%;
}
#section-about ul{
    padding: 1% 5%;
}
#section-feature, #section-price{
    min-height: 50vh;
}

.div-features{
    display: flex; 
    justify-content: space-evenly;

}
.features, .description {
    flex: 1; 
    min-width: 30%;
    margin: 0% 5%;
}
.row {
    text-align: center;
    margin: 2% 0%;
    border: 1px solid #ccc;
    color: #fff;
    background-color: #29400E;
    border-radius: 5px;
} 
.first{
    color: #29400E;
    background-color: #fff;
    border: 2px solid #29400E;
}

#section-price{
    text-align: center;
    padding: 8% 30% 0% 30%;
}
del{
    color:red;
}
span{
    color: #7BA82A
}
#section-contact{
    min-height: 80vh;
    margin: 0% 25%;
}
form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {
    display: block;
    background-color: #f2f2f2;
}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type=email], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type=number], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type=submit],  .btn-buy{
  width: 100%;
  background-color: #29400E;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7BA82A;
}
footer{
    font-size: 20%;
    margin: 2% 0%;
    min-height: 5vh;
    text-align: center;
}