{% extends 'base.html' %}

{% block content %}
    <section id="section-contact">
        <h2>Reachout to us</h2>

        {% if items %}
            {% for item in items %}
                <p>{{item.name}}</p>
                <p>{{item.type}}</p>
                <p>{{item.category}}</p>
                <p>{{item.description}}</p>
                <p>{{item.location}}</p>
                <p>{{item.user.first_name}} {{item.user.last_name}}</p>
                <p></p>
            {% endfor %}
        {% endif %}

        <!-- <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="submit">
        </form> -->

        <br>
        {% if messages %}
            {% for message in messages %}
                <div style="color: green; font-weight: bold;">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    </section>

    <a href="{% url 'logout' %}" style="width: 100px; background-color: black; color: #fff;">logout</a>
{% endblock content %}   